body {
	font-family: 'Lato', sans-serif;
	color: 'Red';
	font-weight: 300;
}

h1 {
	font-size: 55pt;
	font-weight: 300;
}

#projectSquare {
    width: 200px;
    height: 200px;
    color: white;
    margin: 0 auto;
    font-family: 'Lobster', serif;
    font-size: 20pt;
    text-align: center;
}

#wrap {
    max-width: 300px;
    height: 100px;
    color: #5C5C5C;
    margin: 0 auto;
}

.headertitle {
	display: inline-block;
	margin-top: 150pt;
	text-align: center;
}

.aqua {
	color: #2CC5C9;
}

.yellow {
	color: #F7D00B;
}

.logo {
	width: 70pt;
	margin-left:7pt;
}

.socialmedia {
	text-align: center;
	display:none;
}

.socialmedia i {
	font-size: 4em;
	color: #A2A2A2;
}

.socialmedia i:hover {
	color: #5C5C5C;
}

.headerTitle {
	text-align: center;
	margin-top: 20pt;
	margin-bottom: 20pt;
	font-size: 40pt;
	font-family: "Lobster", serif;
	color: white;
	cursor: pointer;
}

.resources {
	color:white;
	font-weight: 400;
	text-align: center;
	font-family: "Lobster", serif;
	font-size: 20pt;
}

ul.resources li, a {
	font-family: "Lato";
	text-align: left;
	font-size: 10pt;
	font-weight: 200;
	color:#196E70;
	list-style-type: disc;
}

ul.resources a {
	font-weight: 300;
}

ul.resources li a:hover {
	color:white;
}

// typed

#typed {
	font-size: 20px;
	font-weight: 100;
}

.projects {
	margin-top:10pt;
}

.wideContentBox {
	height:100%;
}

.content {
	display:none;
}

#footer {
	background-color:white;
}

.sticky {
	background-color:white;
}

// mediaqueries

@media only screen and (max-width: 1024px) {

	.headertitle h1 {
		font-size: 40pt;
	}

	.logo {
		width: 40pt;
	}
}

@media only screen and (min-width: 550px) and (max-width: 1000px) {

	.headertitle h1 {
		font-size: 30pt;
	}

	.logo {
		width: 30pt;
	}

}

@media only screen and (min-width: 320px) and (max-width: 549px) {

	.headertitle h1 {
		font-size: 20pt;
	}

	.logo {
		width: 20pt;
	}
}



